<%= form_for(@musica) do |f| %>
  <% if @musica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musica.errors.count, "error") %> prohibited this musica from being saved:</h2>

      <ul>
      <% @musica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
<% end %>
