<!DOCTYPE html>
<html>
<head>
  <title>Playlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Playlist</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Login</a></li>
            <li><a href="/musicas">Musicas</a></li>
            <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>
            </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <% flash.each do |key, value| %>

    <div class="flash <%= key %>">
      <%= value %>
    </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
